# TASK 2b

In [1]:
#import os
import numpy as np
import pandas as pd
from sklearn import tree
import matplotlib.pyplot as plt
pd.set_option('display.max_colwidth', 160)
import warnings
warnings.filterwarnings('ignore')

In [2]:
input_file = "sample-superstore_2023_T3_clean.csv"
df = pd.read_csv(input_file, header = 0)
df.head(10)

,Row ID,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Customer ID,...,Segment,Country,City,State,Postal Code,Region,Order ID,Order Date,Ship Date,Ship Mode
0,9798,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.188,2,0.4,-43.1178,CS-12490,...,Corporate,United States,Toledo,Ohio,43615,East,CA-2015-128608,2015-01-12,2015-01-17,Standard Class
1,5065,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.0,113.6742,CA-12265,...,Consumer,United States,Wilmington,Delaware,19805,East,CA-2017-122196,2017-09-22,2017-09-24,First Class
2,7502,TEC-PH-10004977,Technology,Phones,GE 30524EE4,470.376,3,0.2,52.9173,TC-21295,...,Consumer,United States,Westminster,California,92683,West,CA-2017-121048,2017-07-14,2017-07-18,Standard Class
3,9728,TEC-PH-10004977,Technology,Phones,GE 30524EE4,979.950,5,0.0,284.1855,KM-16720,...,Consumer,United States,Lowell,Massachusetts,1852,East,CA-2017-167395,2017-12-02,2017-12-04,First Class
4,582,TEC-PH-10004977,Technology,Phones,GE 30524EE4,470.376,3,0.2,52.9173,DV-13465,...,Consumer,United States,Denver,Colorado,80219,West,CA-2017-145233,2017-12-01,2017-12-05,Standard Class
5,7478,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.0,113.6742,ME-17320,...,Home Office,United States,Henderson,Kentucky,42420,South,CA-2014-167199,2014-01-06,2014-01-10,Standard Class
6,36,TEC-PH-10004977,Technology,Phones,GE 30524EE4,1097.544,7,0.2,123.4737,GH-14485,...,Corporate,United States,Richardson,Texas,75080,Central,CA-2016-117590,2016-12-08,2016-12-10,First Class
7,3132,TEC-PH-10004977,Technology,Phones,GE 30524EE4,627.168,4,0.2,70.5564,CC-12100,...,Home Office,United States,Los Angeles,California,90049,West,CA-2014-136399,2014-12-16,2014-12-17,First Class
8,6636,TEC-PH-10004977,Technology,Phones,GE 30524EE4,627.168,4,0.2,70.5564,MB-18085,...,Consumer,United States,Charlotte,North Carolina,28205,South,CA-2017-144498,2017-06-05,2017-06-05,Same Day
9,3331,TEC-PH-10004959,Technology,Phones,Classic Ivory Antique Telephone ZL1810,241.176,3,0.2,15.0735,KD-16270,...,Consumer,United States,Houston,Texas,77095,Central,CA-2014-165309,2014-11-11,2014-11-15,Standard Class

In [3]:
len(df)

9994

In [4]:
print(df.columns)

Index(['Row ID', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode'],
      dtype='object')

In [6]:
#Check updated missing value in df
df.isnull().sum()

Row ID           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
dtype: int64

In [27]:
# Data types of each column
print(df.dtypes)

Row ID             int64
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity         float64
Discount         float64
Profit           float64
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code       object
Region            object
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
dtype: object

### Use z-score to identify and remove outliers in 'Sales','Profit'

In [37]:
from scipy.stats import zscore

z_scores = zscore(df[['Sales', 'Profit']])
df2 = df[(z_scores < 3).all(axis=1)]

In [38]:
from sklearn.preprocessing import MinMaxScaler

# Select numerical variables for normalization and scaling
numerical_vars = ['Sales', 'Quantity', 'Discount', 'Profit']

# Apply Min-Max scaling
scaler = MinMaxScaler()
df2[numerical_vars] = scaler.fit_transform(df_no_outliers[numerical_vars])
df2[numerical_vars].tail(10)

         Sales  Quantity  Discount    Profit
9984  0.048858  0.500000    0.8750  0.756126
9985  0.493246  0.428571    0.0000  0.871668
9986  0.065581  0.071429    0.2500  0.808106
9987  0.172497  0.214286    0.3750  0.796806
9988  0.164273  0.142857    0.0000  0.828351
9989  0.139600  0.142857    0.1875  0.814226
9990  0.116172  0.142857    0.0000  0.816021
9991  0.197642  0.285714    0.1875  0.805361
9992  0.197642  0.285714    0.1875  0.805361
9993  0.396704  0.642857    0.3750  0.774232

### Data aggregations or frequency distributions, Group by 'Category' and calculate the mean of 'Sales' and 'Profit'

In [41]:
Sales_Profit = df2.groupby('Category')['Sales', 'Profit'].mean()
print(Sales_Profit)

                    Sales    Profit
Category
Furniture        0.148154  0.808577
Office Supplies  0.046527  0.810591
Technology       0.143861  0.819428

### Describe features that are related and the nature of that relationship

In [43]:
correlation_matrix_Sales_Profit = Sales_Profit.corr()
print(correlation_matrix_Sales_Profit)

           Sales    Profit
Sales   1.000000  0.305937
Profit  0.305937  1.000000

### Data aggregations or frequency distributions, Group by 'Category' and calculate the mean of 'Discount' and 'Profit'

In [44]:
Discount_Profit = df2.groupby('Category')['Discount', 'Profit'].mean()
print(Discount_Profit)

                 Discount    Profit
Category
Furniture        0.218163  0.808577
Office Supplies  0.197186  0.810591
Technology       0.165495  0.819428

In [45]:
correlation_matrix_Discount_Profit = Discount_Profit.corr()
print(correlation_matrix_Discount_Profit)

          Discount    Profit
Discount  1.000000 -0.973353
Profit   -0.973353  1.000000